
<dl class = 'assignees' >
	<% for assignee in @assignees %>
		<dt id="assignee_<%= assignee.id %>">
			<span class='assignee_name'><%= assignee.assignee %></span>
		</dt>
			<dd><%= assignee.description %> <br/>
			<% if assignee.tasks.size != 0 %>
				<%= render 'tasks_render', :f=>assignee %>
			<% end %>
			</dd>
	<% end %>
	</dl>