<h3>Contacts</h3>
	<ul>
		<% for contact in f.contacts %>
			<li><%= contact.name %>
				<% if contact.email != nil and !contact.email.empty? %>
					(<%= contact.email %>)
				<% end %>
				<% if contact.phone != nil and !contact.phone.empty?  %>
					(<%= contact.phone %>)
				<% end %>
			</li>
		<% end %>
	</ul>