<menu class='assignee'>
	<li class='link'><a class = 'link' href='<%= assignee_path(f)%>'>Permalink</a></li>
	<li class='edit'><a class = 'edit' href='<%= edit_assignee_path(f) %>'>Edit</a></li>
	<li class='delete'><%= link_to 'Delete', f, :method=>'delete', :class=>'delete'%></li>
</menu>