/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body{
	font-family: sans-serif;
	padding:0px;
	margin: 0px;
}

h1{
	background: #f66630;
	color: white;
	margin: 0px;
	padding: 5px;

}

h2{
	color: #f66630;
	margin-left: 10px;
}

#flash_notice{
	background: green;
	border: 1px solid green;
	text-align: center;
	padding: 5px;
	color: white;
}

#flash_error{
	background: red;
	border: 1px solid red;
	text-align: center;
	padding: 5px;
	color: white;
}