/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body{
	font-family: sans-serif;
	padding:0px;
	margin: 0px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a.remove{
	color: #990000;
}

a.add{
	color: #465a13;
}

header{
	background: #f66630;
	color: white;
	margin: 0px;
	padding: 5px;
	padding-top: 10px;
	font-size: 36px;
	font-weight: bold;
}

	header a{
		color: #522D80;
		text-decoration: none;
	}

	header menu{
		display: inline;
		margin: 0px;
		padding:0px;
		margin-right:10px;

		position:absolute;
		right:0px;
	}
	header menu ul{
		font-size: 25px;
		margin:0px;
		list-style:none;
		display: inline;
	}

		header menu ul li{
			display:inline;
			border-right: 1px dotted white;
			margin:0px;
			padding-right: 5px;
			padding-left: 5px;
		}

		header menu ul li:last-child{
			margin:0px;
			padding:0px;
			display:inline;
			border-right: none;
		}

h2{
	color: #f66630;
	margin-left: 10px;
	margin-bottom:0px;
}

#flash_notice{
	background: #465a13;
	border: 1px solid #465a13;
	text-align: center;
	padding: 5px;
	color: white;
}

#flash_error{
	background: #990000;
	border: 1px solid #990000;
	text-align: center;
	padding: 5px;
	color: white;
}