// Place all the styles related to the Assignees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange : #f66630;
$link : #522D80;
$edit : #465a13;

h3{
	font-size: 20px;
	color: #f66630;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}


form{
	margin-left: 40px;
	padding: 0px;
}

	label {

		font-weight:bold;
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	input[type='submit']{
		margin-top: 10px;
	}

	textarea{
		font-family: sans-serif;
	}


form div.tasks div.fields{
	margin-bottom:10px;
}


menu.assignee {
		margin: 0px;
		padding-left: 0px;
		list-style: none;

	}

		menu.assignee  li{
			display: inline;
			font-size: 15px;
			border-right: 1px dotted black;
			padding-right: 5px;
		}
			menu.assignee  li a.link{
				color: $link;
			}
			menu.assignee  li a.edit{
				color: $edit;
			}

			menu.assignee li a.delete{
				color: darken(red, 20%);
			}

			menu.assignee li:last-child{
				border-right: none;
			}

.assignee_name {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	margin-right: 0px;
}

.assigne_description{

	margin-left: 20px;
}

.assignees{
	margin-left: 40px;
}
	.assignees dd{
		margin-left: 20px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.assignees dd ul{
		padding-left:30px;
	}


/*The details Styling	*/
.details{
	margin-top:5px;
	margin-left:40px;
}

	.details .title{
		color:black;
	}

	.details ul{
		padding:0px;
		margin:0px;
		padding-left:30px;

	}